
.rw-wrapper {
   float: left;
   position: static;
   margin: 0 auto 0 auto;
   padding: 3vh 3vw;
   font-family: 'Bree Serif', serif;
}

.rw-sentence {
   margin-top: 2%;
   bottom: -10%;
   text-align: left;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);
}

.rw-sentence img {
   width: 120%;
   z-index: -1;
}

.rw-sentence span {
   color: #444;
   font-size: 450%;
   font-weight: 400;

}

.rw-words span {
   text-indent: 35px;
   font-size: 205%;
}

.rw-words-1 span {
   position: absolute;
   opacity: 0;
   overflow: hidden;
   color: #fff; /* eliminado*/
   -webkit-animation: rotateWord 18s linear infinite 0s;
   -ms-animation: rotateWord 18s linear infinite 0s;
   animation: rotateWord 18s linear infinite 0s
}
/* Inicio rotation*/
.rw-words-1 span:nth-child(2) {
   -webkit-animation-delay: 1s;
   -ms-animation-delay: 1s;
   animation-delay: 1s;
   color:  rgb(255,149,5);  /* GRADIENT PRINCIPIO*/
   text-shadow: .1px .1px .1px  rgb(255,149,5)
}

.rw-words-1 span:nth-child(3) {
   -webkit-animation-delay: 4s;
   -ms-animation-delay: 4s;
   animation-delay: 4s;
   color:  rgb(255,149,5);
   text-shadow: .1px .1px .1px  rgb(255,149,5)
}

.rw-words-1 span:nth-child(4) {
   -webkit-animation-delay: 8.5s;
   -ms-animation-delay: 8.5s;
   animation-delay: 8.5s;
   color:  rgb(255,149,5);
   text-shadow: .1px .1px .1px  rgb(255,149,5)
}

.rw-words-1 span:nth-child(5) {
   -webkit-animation-delay: 13.5s;
   -ms-animation-delay: 13.5s;
   animation-delay: 13.5s;
   color:  rgb(255,149,5);
   text-shadow: .1px .1px .1px  rgb(255,149,5)
}

.rw-words-1 span:nth-child(6) {
   -webkit-animation-delay: 16s;
   -ms-animation-delay: 16s;
   animation-delay: 16s;
   color:  rgb(255,149,5);
   text-shadow: .1px .1px .1px  rgb(255,149,5)
}

#smallBlock {
   display: flex;
   margin: 0 10px 15px -10px;
   height: 52px;
   width: 95vw
}

.mySample {
   position: fixed;
   right: 6.5%;
   bottom: 5px;
   width: 90vw;
   text-align: right;
}

h1  {
   font-size: 150%
}

h2 span a {
   font-size: 250%;
   font-family: 'Ramabhadra', sans-serif;
   cursor: pointer;
   display: inline-block;
   color: rgb(255,149,5);
   width: auto;
   letter-spacing: 0.05em;
   text-decoration: none;
}

h2 span a:hover {
   color: #bbb
}

footer {
   width: auto
}

@-webkit-keyframes rotateWord {
   0% {
      opacity: .7;
      -webkit-transform:translateY(-150px);
   }
   8% {
      opacity: .9;
   }
   20% {
      opacity: 1;
      -webkit-transform: translateY(50px);
         }
   45% {
      opacity: .2
   }

   75% {
      opacity: 0;
      -webkit-transform:translateY(-160px);
   }
}

@-ms-keyframes rotateWord {
0% {
   opacity: .7 -ms-transform: translateY(-150px);

}

8% {
   opacity: .9;
}
20% {
   opacity: 1;
   -ms-transform: translateY(50px);
}
45% {
   opacity: .2
}

75% {
   opacity: 0 -ms-transform:translateY(-160px);
}
   }

@keyframes rotateWord {
   0% {
      opacity: .7 -webkit-transform:translateY(-150px);
      transform: translateY(-150px)
   }

   8% {
      opacity: .9;

   }

   20% {
      opacity: 1;
      -webkit-transform: translateY(50px);
      transform: translateY(50px)
   }
   45% {
      opacity: .4
   }

   75% {
      opacity: 0 -webkit-transform:translateY(-160px);
      transform: translateY(-160px)
   }
}

/* NOTE: typed effect */
div#position {
      clear: both;
      height: 3em;
      vertical-align: middle;
      width: 100%;
}

.line-1{
   font-family: 'Quicksand', sans-serif;
    width: 50%;
    margin: 12% auto 0 5%;
    border-right: 8px solid transparent;
    font-size: 180%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.typing {
  animation: typewriter 6s steps(244) 3s 1 normal both,
             blinkTextCursor 1200ms steps(244) 10 normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 90%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: orange;}
}

@media screen and (min-width:1400px) {
   .line-1{
       font-size: 180%;
       margin: 10% auto 0 5%;
   }

   @keyframes typewriter{
     from{width: 0;}
     to{width: 50%;}
   }
}

@media screen and (max-width:768px) {
   .rw-sentence img {
      width: 100%;
      z-index: -1;
   }
   #smallBlock {
      height: 45px
   }

   .rw-sentence span {
      font-size: 30px;
      text-indent: 4vw
   }
   .line-1{
       font-size: 130%;
       margin: 28% auto 0 5%;
   }
}

@media screen and (max-width:425px) {
   #smallBlock {
      height: 24px
   }

   .rw-wrapper {
      margin: -10px 0 0 10px;
      padding-left: 0
   }

   .rw-sentence span {
      font-size: 100%;
      text-indent: 4vw
   }

   .rw-words-1 span {
      position: absolute;
      opacity: 0;
      overflow: hidden;
      color: #6b969d;
      -webkit-animation: rotateWord 18s linear infinite 0s;
      -ms-animation: rotateWord 18s linear infinite 0s;
      animation: rotateWord 18s linear infinite 0s
   }

   .rw-words-1 span:nth-child(2) {
      -webkit-animation-delay: 1s;
      -ms-animation-delay: 1s;
      animation-delay: 1s;
   }

   .rw-words-1 span:nth-child(3) {
      -webkit-animation-delay: 6s;
      -ms-animation-delay: 6s;
      animation-delay: 6s;
   }

   .rw-words-1 span:nth-child(4) {
      -webkit-animation-delay: 10s;
      -ms-animation-delay: 10s;
      animation-delay: 10s;
   }

   .rw-words-1 span:nth-child(5) {
      -webkit-animation-delay: 13.5s;
      -ms-animation-delay: 13.5s;
      animation-delay: 13.5s;
   }

   .rw-words-1 span:nth-child(6) {
      -webkit-animation-delay: 17s;
      -ms-animation-delay: 17s;
      animation-delay: 17s;
   }
   h2 span a {
      font-size: 100%;
   }

   @-webkit-keyframes rotateWord {
      0% {
         opacity: .7;
         -webkit-transform:translateY(-150px);
      }
      8% {
         opacity: .9;
      }
      20% {
         opacity: 1;
         -webkit-transform: translateY(50px);
            }
      45% {
         opacity: .2
      }

      75% {
         opacity: 0;
         -webkit-transform:translateY(-130px);
      }
   }

   @-ms-keyframes rotateWord {
      0% {
         opacity: .7 -ms-transform: translateY(-150px);

      }

      8% {
         opacity: .9;
      }
      20% {
         opacity: 1;
         -ms-transform: translateY(50px);
      }
      45% {
         opacity: .2
      }

      75% {
         opacity: 0 -ms-transform:translateY(-130px);
      }
         }

   @keyframes rotateWord {
      0% {
         opacity: .7 -webkit-transform:translateY(-80px);
         transform: translateY(-80px)
      }

      8% {
         opacity: .9;

      }

      20% {
         opacity: 1;
         -webkit-transform: translateY(50px);
         transform: translateY(50px)
      }
      45% {
         opacity: .2
      }

      75% {
         opacity: 0 -webkit-transform:translateY(-70px);
         transform: translateY(-70px)
      }
   }
   .line-1{
       font-size: 73%;
       margin: 88% auto 0 5%;
   }
}

@media screen and (max-width:320px) {
   #smallBlock {
      margin-top: -10px;
      height: 25px;
      z-index: 1
   }

   .rw-sentence span {
      font-size: 100%;
      text-indent: 4vw
   }
   .line-1{
       font-size: 45%;


   }

}
